/*body {
	background-color: lightblue;
	}*/
	.container {
		/*display: flex;*/
		width: 100% ;
		/*flex-wrap: wrap;*/
		height: 3000px;
		/*background: lightblue;*/

	}
	.navbar {
		position: absolute;
		width: 1300px;
		height: 100px;
		padding-bottom: 100px;
		
	}
	.burger {
		position: absolute;
		top: 60px;
		left: 100px;
	}
	.foodyar {
		position: absolute;
		width: 113px;
		height: 35px;
		left: 138px;
		top: 57px;
	}
	.foodyar a {
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 35px;
		text-decoration: none;
		/* identical to box height */


		color: #272042;

	}
	.ul {
		position: absolute;
		width: 525px;
		height: 23px;
		left: 625px;
		top: 47px;
	}
	.ul li {
		display: inline-block;
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		padding-right: 25px;
		/* identical to box height */

		text-align: right;

		color: #272042;
	}

	.kithen {
		position: absolute;
		width: 150px;
		height: 23px;
		left: 1145px;

		top: 63px;
	}

	.kithen a {

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;

		font-size: 20px;
		line-height: 22px;
		/* identical to box height */
		padding: 20px;
		padding-top: 15px;
		padding-bottom :15px;
		padding-left: 25px;
		padding-right: 25px;
		text-align: right;
		color: #272042;
		background: #FBE0DC;
		border-radius: 30px;
		text-decoration: none;
	}

	.p1 {
		position: absolute;
		width: 440px;
		height: 140px;
		left: 146px;
		top: 208px;
	}
	.p1 p{
		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 46px;
		line-height: 70px;
		/* or 152% */

		color: #272042;

	}
	.p2 {
		position: absolute;
		width: 376px;
		height: 68px;
		left: 146px;
		top: 390px;
	}
	.p2 p {
		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 34px;
		/* or 170% */

		color: #8B8BA5;
	}
	.gambar1 {
		position: absolute;
		left: 680px;
		top: 194px;
	}
	.gambar1 img {
		width: 550px;
		height: 400px;

		
	}
	.buton {
		position: absolute;
		width: 180px;
		height: 23px;
		left: 150px;
		top: 519px;

	}
	.buton button {
		padding: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: Quicksand;
		border-style: groove;
		font-style: normal;
		font-weight: 500px;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */

		text-align: left;
		background: #F7C531;
		border-radius: 30px;
	}
	.watc {
		position: absolute;
		width: 107px;
		height: 25px;
		left: 668px;
		top: 705px;
	}	
	.watc h6 {
		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.special {
		position: absolute;
		width: 212px;
		height: 40px;
		left: 615px;
		top: 760px;
	}
	.special h1 {
		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}

	.ul1 ul {
		position: absolute;
		width: 550px;
		height: 25px;
		left: 450px;
		top: 810px;

	}
	.ul1 li {
		display: inline-block;
		display: inline-block;
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 25px;
		padding-right: 50px;
		/*identical to box height */

		color: #F7C531;
	}
	.gambar {
		position: absolute;
		width: 1215px;
		height: 285px;
		left: 110px;
		top: 906px;

	}
	.gambar img {
		padding-right: 25px;
	}
	.spon {
		display: inline-block;
	}
	.kciwi {
		position: absolute;
		width: 287px;
		height: 28px;
		left: 101px;
		top: 1180px;
	}
	.kciwi h6{
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}
	.kpokat {
		position: absolute;
		width: 287px;
		height: 28px;
		left: 418px;
		top: 1180px;
	}
	.kpokat h6{
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}
	.kbayam {
		position: absolute;
		width: 287px;
		height: 28px;
		left: 735px;
		top: 1180px;
	}
	.kbayam h6{
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}

	.knaga {
		position: absolute;
		width: 287px;
		height: 28px;
		left: 1052px;
		top: 1180px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}
	.knaga h6 {
		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */

		text-align: center;

		color: #272042;

	}
	.amin {
		position: absolute;
		width: 287px;
		height: 20px;
		left: 101px;
		top: 1247px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;
	}
	.jhon {
		position: absolute;
		width: 287px;
		height: 20px;
		left: 418px;
		top: 1247px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.tukang {
		position: absolute;
		width: 287px;
		height: 20px;
		left: 735px;
		top: 1247px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;
	}
	.sarange {
		position: absolute;
		width: 287px;
		height: 20px;
		left: 1052px;
		top: 1247px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.bintang {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 181px;
		top: 1310px;

		/*background: #F7C531;*/
		border-radius: 1px;

	}
	.bintang1 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 207px;
		top: 1310px;

	}
	.bintang2 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 233px;
		top: 1310px;
	}
	.bintang3 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 259px;
		top: 1310px;
	}
	.bintang4 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 285px;
		top: 1310px;
	}
	.bintang5 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 498px;
		top: 1310px;
	}
	.bintang6 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 524px;
		top: 1310px;
	}
	.bintang7 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 550px;
		top: 1310px;
	}
	.bintang8 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 576px;
		top: 1310px;
	}
	.bintang9 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 602px;
		top: 1310px;
	}
	.bintang10 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 815px;
		top: 1310px;
	}
	.bintang11 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 841px;
		top: 1310px;
	}
	.bintang12 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 867px;
		top: 1310px;
	}
	.bintang13 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 893px;
		top: 1310px;
	}
	.bintang14 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 919px;
		top: 1310px;
	}
	.bintang15 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 1132px;
		top: 1310px;
	}
	.bintang16 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 1158px;
		top: 1310px;
	}
	.bintang17 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 1184px;
		top: 1310px;
	}
	.bintang18 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 1210px;
		top: 1310px;
	}
	.bintang19 {
		position: absolute;
		width: 22px;
		height: 22px;
		left: 1236px;
		top: 1310px;
	}
	.menu2 {
		position: absolute;
		width: 736px;
		height: 200px;
		left: 401px;
		top: 1456px;
	}
	.menu2 p {
		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 50px;
		/* or 139% */

		text-align: center;

		color: #272042;
	}
	.gmrcamel {
		position: absolute;
		width: 99px;
		height: 99px;
		left: 578px;
		top: 1694px;

	}

	.cameltex h6 {
		position: absolute;
		width: 173px;
		height: 28px;
		left: 688px;
		top: 1650px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		/* identical to box height */


		color: #272042;
	}
	.verge h6 {
		position: absolute;
		width: 173px;
		height: 20px;
		left: 688px;
		top: 1700px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */


		color: #8B8BA5;
	}
	.satu8 h5{
		position: absolute;
		width: 136px;
		height: 40px;
		left: 291px;
		top: 1830px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}

	.duapuluh h5 {
		position: absolute;
		width: 123px;
		height: 40px;
		left: 527px;
		top: 1830px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	} 
	.empatratus h5 {
		position: absolute;
		width: 148px;
		height: 40px;
		left: 750px;
		top: 1830px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		/* identical to box height */

		text-align: center;

		color: #272042;
	}
	.enam h5 {
		position: absolute;
		width: 150px;
		height: 40px;
		left: 998px;
		top: 1830px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		/* identical to box height */

		text-align: center;

		color: #272042;

	}
	.foo h5 {
		position: absolute;
		width: 119px;
		height: 25px;
		left: 300px;
		top: 1900px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.chef h5 {
		position: absolute;
		width: 62px;
		height: 25px;
		left: 557px;
		top: 1900px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.course h5 {
		position: absolute;
		width: 79px;
		height: 25px;
		left: 785px;
		top: 1900px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;

	}
	.alumni h5 {
		position: absolute;
		width: 74px;
		height: 25px;
		left: 1036px;
		top: 1900px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 25px;
		/* identical to box height */

		text-align: center;

		color: #8B8BA5;
	}
	.ponsel	img {
		position: absolute;
		width: 443px;
		height: 500px;
		left: 206px;
		top: 1996px;
	}
	.down h1 {
		position: absolute;
		width: 441px;
		height: 140px;
		left: 792px;
		top: 2050px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 46px;
		line-height: 70px;
		/* or 152% */


		color: #272042;

	}
	.inor h1 {
		position: absolute;
		width: 344px;
		height: 68px;
		left: 792px;
		top: 2220px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 34px;
		/* or 170% */


		color: #8B8BA5;
	}
	.rec {
		position: absolute;
		height: 48px;
		width: 166.45913696289062px;
		top: 2340px;
		left: 792px;
		border-radius: 0px;
		background: black;
	}
	.rec img {
		position: absolute;
		left: 15px;
		top: 5px;
	}
	.ava h6{ 
		position: absolute;
		left: 50px;
		top: -17px;
		background: #black;
		color: white;

	}
	.app h5{
		position: absolute;
		color: white;
		font-size: 17px;
		top: -8px;
		left: 50px;
	}
	.footer {
		position: absolute;
		width: 1332px;
		height: 360px;
		top: 2650px;
		
		border-top: solid 1px;
	}
	.burfud {
		position: absolute;
		top: 60px;
	}
	.spec {
		position: absolute;
		width: 300px;
		height: 300px;
		left: 350px;
		
		top: 30px;
	}
	.spec a {
		ont-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */

		text-decoration: none;
		color: #8B8BA5;
	}
	.spec #he {
		text-decoration: underline;
	}

	.company {
		position: absolute;
		width: 300px;
		height: 300px;
		left: 700px;
		
		top: 30px;
	}
	.company a {
		ont-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */

		text-decoration: none;
		color: #8B8BA5;
	}

	.be{
		position: absolute;
		width: 250px;
		height: 300px;
		left: 1050px;
		
		top: 30px;
	}
	.be a {
		ont-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */

		text-decoration: none;
		color: #8B8BA5;
	}
	